#!/usr/bin/env bash

if [ -n "$1" ]; then
  if [ -f "$1" ]; then
    source $1
  fi
fi

DOCKER_COMPOSE=${DOCKER_COMPOSE:-"docker-compose.yml"}
DOCKER_SHIPPING=${DOCKER_SHIPPING:-"rawmind/web-shipping:0.1-0"}
DOCKER_PAYMENTS=${DOCKER_PAYMENTS:-"rawmind/web-payments:0.1-3"}
DOCKER_INVENTORY=${DOCKER_INVENTORY:-"rawmind/web-inventory:0.1-0"}
DOCKER_GATEWAY=${DOCKER_GATEWAY:-"rawmind/web-gateway:0.1-3"}
RANCHER_LB=${RANCHER_LB:-"rancher/lb-service-haproxy:v0.7.9"}
PUBLISH_PORT=${PUBLISH_PORT:-8080}

echo "Generating ${DOCKER_COMPOSE} ..."

cat << EOF > ${DOCKER_COMPOSE}
version: '2'
services:
  shipping:
    image: ${DOCKER_SHIPPING}
    tty: true
    labels:
      io.rancher.scheduler.affinity:container_label_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
      io.rancher.container.hostname_override: container_name
  lb:
    image: ${RANCHER_LB}
    ports:
    - ${PUBLISH_PORT}:${PUBLISH_PORT}/tcp
    labels:
      io.rancher.container.agent.role: environmentAdmin
      io.rancher.container.create_agent: 'true'
  payments:
    image: ${DOCKER_PAYMENTS}
    tty: true
    labels:
      io.rancher.scheduler.affinity:container_label_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
      io.rancher.container.hostname_override: container_name
  inventory:
    image: ${DOCKER_INVENTORY}
    tty: true
    labels:
      io.rancher.scheduler.affinity:container_label_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
      io.rancher.container.hostname_override: container_name
  gateway:
    image: ${DOCKER_GATEWAY}
    links:
    - inventory:inventory
    - shipping:shipping
    - payments:payments
    labels:
      io.rancher.scheduler.affinity:container_label_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
      io.rancher.container.hostname_override: container_name
EOF

cat ${DOCKER_COMPOSE}
